#
# pin constraints
#
NET BTNs_5Bits_TRI_IO[0] LOC = "P16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[1] LOC = "R16"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[2] LOC = "N15"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[3] LOC = "R18"  |  IOSTANDARD = "LVCMOS25";
NET BTNs_5Bits_TRI_IO[4] LOC = "T18"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_8Bits_TRI_IO[0] LOC = "T22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[1] LOC = "T21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[2] LOC = "U22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[3] LOC = "U21"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[4] LOC = "V22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[5] LOC = "W22"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[6] LOC = "U19"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_IO[7] LOC = "U14"  |  IOSTANDARD = "LVCMOS33";
NET SWs_8Bits_TRI_IO[0] LOC = "F22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[1] LOC = "G22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[2] LOC = "H22"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[3] LOC = "F21"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[4] LOC = "H19"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[5] LOC = "H18"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[6] LOC = "H17"  |  IOSTANDARD = "LVCMOS25";
NET SWs_8Bits_TRI_IO[7] LOC = "M15"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#
# Top mic
NET "Pmic_sdata"		LOC = Y10 | IOSTANDARD = "LVCMOS33"; # JA3 pmic miso
NET "Pmic_sclk" 		LOC = AA9 | IOSTANDARD = "LVCMOS33"; # JA4 pmic clk
NET "Pmic_ncs"			LOC = Y11 | IOSTANDARD = "LVCMOS33"; # JA1 pmic slave select
# Bottom mic
NET "Pmic_sdata_1"	LOC = AB9 | IOSTANDARD = "LVCMOS33"; # JA9 pmic miso
NET "Pmic_sclk_1" 	LOC = AA8 | IOSTANDARD = "LVCMOS33"; # JA10 pmic clk
NET "Pmic_ncs_1"		LOC = AB11 | IOSTANDARD = "LVCMOS33"; # JA7 pmic slave select
